In [43]:
import imp
imp.reload(get_outliers)

### Clean data and find NULLs

In [18]:
import os

data_dir = 'GROUP7_rid'
file_prefix = os.path.join(data_dir, 'bss9-579f')
src_dir = '.'

In [19]:
%%bash -s "$file_prefix" "$src_dir"
source activate py3.6
file_prefix=$1
src_dir=$2

python $src_dir/clean_data.py $file_prefix.tsv

2018-05-03 10:29:48 WARN  NativeCodeLoader:62 - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2018-05-03 10:29:51 WARN  DataSource:66 - Multiple sources found for csv (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat, com.databricks.spark.csv.DefaultSource15), defaulting to the internal datasource (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat).
2018-05-03 10:29:51 WARN  DataSource:66 - Multiple sources found for csv (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat, com.databricks.spark.csv.DefaultSource15), defaulting to the internal datasource (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat).
2018-05-03 10:29:56 WARN  Utils:66 - Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.
2018-05-03 10:30:04 WARN  DataSource:66 - Multiple sources found for csv (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat, com.databricks.spark.csv.DefaultSource15), defaulting to the internal datasource (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat).
2018-05-03 10:30:04 WARN  DataSource:66 - Multiple sources found for csv (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat, com.databricks.spark.csv.DefaultSource15), defaulting to the internal datasource (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat).

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Find outliers

In [45]:
%%bash -s "$file_prefix" "$src_dir"
source activate py3.6
file_prefix=$1
src_dir=$2

python $src_dir/get_outliers.py ${file_prefix}_clean.tsv

2018-05-03 11:18:29 WARN  NativeCodeLoader:62 - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2018-05-03 11:18:30 WARN  Utils:66 - Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2018-05-03 11:18:31 WARN  DataSource:66 - Multiple sources found for csv (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat, com.databricks.spark.csv.DefaultSource15), defaulting to the internal datasource (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat).
2018-05-03 11:18:31 WARN  DataSource:66 - Multiple sources found for csv (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat, com.databricks.spark.csv.DefaultSource15), defaulting to the internal datasource (org.apache.spark.sql.execution.datasources.csv.CSVFileFormat).
2018-05-03 11:18:36 WARN  Utils:66 - Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.
2018-05-03 11:18:41 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_2_address#10 = comparable_rental_2_address#10'. Perhaps you need to use aliases.
2018-05-03 11:18:45 WARN  Column:66 - Constructing trivially true equals predicate, 'brooklyn_condominiums_comparable_properties_address#11 = brooklyn_condominiums_comparable_properties_address#11'. Perhaps you need to use aliases.
2018-05-03 11:18:48 WARN  BLAS:61 - Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
2018-05-03 11:18:48 WARN  BLAS:61 - Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
2018-05-03 11:18:56 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_2_building_classification#15 = comparable_rental_2_building_classification#15'. Perhaps you need to use aliases.
2018-05-03 11:19:04 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_2_boro_block_lot#19 = comparable_rental_2_boro_block_lot#19'. Perhaps you need to use aliases.
2018-05-03 11:19:11 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_2_neighborhood#23 = comparable_rental_2_neighborhood#23'. Perhaps you need to use aliases.
2018-05-03 11:19:21 WARN  Column:66 - Constructing trivially true equals predicate, 'brooklyn_condominiums_comparable_properties_building_classification#30 = brooklyn_condominiums_comparable_properties_building_classification#30'. Perhaps you need to use aliases.
2018-05-03 11:19:28 WARN  Column:66 - Constructing trivially true equals predicate, 'brooklyn_condominiums_comparable_properties_neighborhood#34 = brooklyn_condominiums_comparable_properties_neighborhood#34'. Perhaps you need to use aliases.
2018-05-03 11:19:35 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_3_boro_block_lot#38 = comparable_rental_3_boro_block_lot#38'. Perhaps you need to use aliases.
2018-05-03 11:19:37 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_1_neighborhood#39 = comparable_rental_1_neighborhood#39'. Perhaps you need to use aliases.
2018-05-03 11:19:39 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_3_address#40 = comparable_rental_3_address#40'. Perhaps you need to use aliases.
2018-05-03 11:19:51 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_1_building_classification#48 = comparable_rental_1_building_classification#48'. Perhaps you need to use aliases.
2018-05-03 11:19:55 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_1_address#50 = comparable_rental_1_address#50'. Perhaps you need to use aliases.
2018-05-03 11:19:57 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_3_neighborhood#51 = comparable_rental_3_neighborhood#51'. Perhaps you need to use aliases.
2018-05-03 11:20:01 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_1_boro_block_lot#54 = comparable_rental_1_boro_block_lot#54'. Perhaps you need to use aliases.
2018-05-03 11:20:07 WARN  Column:66 - Constructing trivially true equals predicate, 'brooklyn_condominiums_comparable_properties_boro_block_lot#58 = brooklyn_condominiums_comparable_properties_boro_block_lot#58'. Perhaps you need to use aliases.
2018-05-03 11:20:17 WARN  Column:66 - Constructing trivially true equals predicate, 'comparable_rental_3_building_classification#65 = comparable_rental_3_building_classification#65'. Perhaps you need to use aliases.
2018-05-03 11:20:23 WARN  Column:66 - Constructing trivially true equals predicate, 'brooklyn_condominiums_comparable_properties_condo_section#69 = brooklyn_condominiums_comparable_properties_condo_section#69'. Perhaps you need to use aliases.
IQR method...
### Col: comparable_rental_2_address | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: brooklyn_condominiums_comparable_properties_address | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_gross_sqft | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 17
		counts % = 3.96%
### Col: comparable_rental_3_estimated_gross_income | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 23
		counts % = 5.36%
### Col: brooklyn_condominiums_comparable_properties_estimated_expense | dtype: int ###
	Kmeans:
		counts: 5
		counts % = 1.17%
	IQR:
		counts: 25
		counts % = 5.83%
### Col: comparable_rental_2_building_classification | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: brooklyn_condominiums_comparable_properties_total_units | dtype: int ###
	Kmeans:
		counts: 1
		counts % = 0.23%
	IQR:
		counts: 27
		counts % = 6.29%
### Col: brooklyn_condominiums_comparable_properties_expense_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 1
		counts % = 0.23%
### Col: comparable_rental_2_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 7
		counts % = 1.63%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_boro_block_lot | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 3
		counts % = 0.70%
	IQR:
		counts: 1
		counts % = 0.23%
### Col: comparable_rental_1_estimated_expense | dtype: int ###
	Kmeans:
		counts: 19
		counts % = 4.43%
	IQR:
		counts: 40
		counts % = 9.32%
### Col: comparable_rental_1_net_operating_income | dtype: int ###
	Kmeans:
		counts: 4
		counts % = 0.93%
	IQR:
		counts: 50
		counts % = 11.66%
### Col: comparable_rental_2_neighborhood | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_estimated_expense | dtype: int ###
	Kmeans:
		counts: 8
		counts % = 1.86%
	IQR:
		counts: 37
		counts % = 8.62%
### Col: brooklyn_condominiums_comparable_properties_gross_sqft | dtype: int ###
	Kmeans:
		counts: 3
		counts % = 0.70%
	IQR:
		counts: 24
		counts % = 5.59%
### Col: brooklyn_condominiums_comparable_properties_market_value_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: brooklyn_condominiums_comparable_properties_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 6
		counts % = 1.40%
	IQR:
		counts: 1
		counts % = 0.23%
### Col: comparable_rental_2_estimated_gross_income | dtype: int ###
	Kmeans:
		counts: 6
		counts % = 1.40%
	IQR:
		counts: 27
		counts % = 6.29%
### Col: comparable_rental_2_year_built | dtype: int ###
	Kmeans:
		counts: 1
		counts % = 0.23%
	IQR:
		counts: 36
		counts % = 8.39%
### Col: brooklyn_condominiums_comparable_properties_building_classification | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: brooklyn_condominiums_comparable_properties_full_market_value | dtype: int ###
	Kmeans:
		counts: 6
		counts % = 1.40%
	IQR:
		counts: 30
		counts % = 6.99%
### Col: comparable_rental_2_distance_from_condo_in_miles | dtype: double ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 25
		counts % = 5.83%
### Col: comparable_rental_1_estimated_gross_income | dtype: int ###
	Kmeans:
		counts: 4
		counts % = 0.93%
	IQR:
		counts: 48
		counts % = 11.19%
### Col: brooklyn_condominiums_comparable_properties_neighborhood | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: brooklyn_condominiums_comparable_properties_net_operating_income | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 30
		counts % = 6.99%
### Col: comparable_rental_1_year_built | dtype: int ###
	Kmeans:
		counts: 3
		counts % = 0.70%
	IQR:
		counts: 52
		counts % = 12.12%
### Col: comparable_rental_3_distance_from_condo_in_miles | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 21
		counts % = 4.90%
### Col: comparable_rental_3_boro_block_lot | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_neighborhood | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_address | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_expense_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_market_value_per_sqft | dtype: double ###
	Kmeans:
		counts: 1
		counts % = 0.23%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_estimated_expense | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 19
		counts % = 4.43%
### Col: brooklyn_condominiums_comparable_properties_estimated_gross_income | dtype: int ###
	Kmeans:
		counts: 1
		counts % = 0.23%
	IQR:
		counts: 27
		counts % = 6.29%
### Col: comparable_rental_1_full_market_value | dtype: int ###
	Kmeans:
		counts: 25
		counts % = 5.83%
	IQR:
		counts: 37
		counts % = 8.62%
### Col: comparable_rental_3_net_operating_income | dtype: double ###
	Kmeans:
		counts: 11
		counts % = 2.56%
	IQR:
		counts: 29
		counts % = 6.76%
### Col: comparable_rental_3_gross_sqft | dtype: double ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 24
		counts % = 5.59%
### Col: comparable_rental_1_building_classification | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_expense_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_address | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_neighborhood | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_year_built | dtype: int ###
	Kmeans:
		counts: 3
		counts % = 0.70%
	IQR:
		counts: 47
		counts % = 10.96%
### Col: comparable_rental_3_expense_per_sqft | dtype: double ###
	Kmeans:
		counts: 1
		counts % = 0.23%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_boro_block_lot | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_total_units | dtype: int ###
	Kmeans:
		counts: 7
		counts % = 1.63%
	IQR:
		counts: 43
		counts % = 10.02%
### Col: comparable_rental_1_market_value_per_sqft | dtype: double ###
	Kmeans:
		counts: 4
		counts % = 0.93%
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_total_units | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 23
		counts % = 5.36%
### Col: brooklyn_condominiums_comparable_properties_boro_block_lot | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_full_market_value | dtype: int ###
	Kmeans:
		counts: 4
		counts % = 0.93%
	IQR:
		counts: 19
		counts % = 4.43%
### Col: brooklyn_condominiums_comparable_properties_year_built | dtype: int ###
	Kmeans:
		counts: 8
		counts % = 1.86%
	IQR:
		counts: 89
		counts % = 20.75%
### Col: comparable_rental_1_distance_from_condo_in_miles | dtype: double ###
	Kmeans:
		counts: 7
		counts % = 1.63%
	IQR:
		counts: 26
		counts % = 6.06%
### Col: comparable_rental_3_total_units | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 19
		counts % = 4.43%
### Col: comparable_rental_2_net_operating_income | dtype: int ###
	Kmeans:
		counts: 2
		counts % = 0.47%
	IQR:
		counts: 30
		counts % = 6.99%
### Col: comparable_rental_1_gross_sqft | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 21
		counts % = 4.90%
### Col: comparable_rental_3_building_classification | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_full_market_value | dtype: double ###
	Kmeans:
		counts: 4
		counts % = 0.93%
	IQR:
		counts: 17
		counts % = 3.96%
### Col: comparable_rental_2_market_value_per_sqft | dtype: double ###
	Kmeans:
		counts: 4
		counts % = 0.93%
	IQR:
		counts: 2
		counts % = 0.47%
### Col: comparable_rental_3_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 0
		counts % = 0.00%
	IQR:
		counts: 9
		counts % = 2.10%
### Col: brooklyn_condominiums_comparable_properties_condo_section | dtype: string ###
	IQR:
		counts: 0
		counts % = 0.00%
### Col: rid | dtype: int ###

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [31]:
import utils
import get_outliers
import numpy as np

In [29]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import *
from pyspark.mllib.clustering import KMeans, KMeansModel

spark = SparkSession \
            .builder \
            .appName("Nulls and Outliers Detection") \
            .getOrCreate()

In [25]:
df = spark.read.csv("{}_clean.tsv".format(file_prefix), header = True,inferSchema = True, sep='\t')

In [40]:
df_count = df.count()
kmeans = {}
for col, dtype in df.dtypes:
    print("### Col: {} | dtype: {} ###".format(col, dtype))
    if col == 'rid':
        continue
    if 'string' not in dtype:
        kmeans[col] = get_outliers.kmeans_outliers(df, col)
        print("\tKmeans:\n\t\tcounts: {}\n\t\tcounts % = {:.2f}%".format(kmeans[col].count(), 100*(kmeans[col].count()/df_count)))

### Col: comparable_rental_2_address | dtype: string ###
### Col: brooklyn_condominiums_comparable_properties_address | dtype: string ###
### Col: comparable_rental_2_gross_sqft | dtype: int ###
	Kmeans:
		counts: 6
		counts % = 1.40%
### Col: comparable_rental_3_estimated_gross_income | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
### Col: brooklyn_condominiums_comparable_properties_estimated_expense | dtype: int ###
	Kmeans:
		counts: 5
		counts % = 1.17%
### Col: comparable_rental_2_building_classification | dtype: string ###
### Col: brooklyn_condominiums_comparable_properties_total_units | dtype: int ###
	Kmeans:
		counts: 1
		counts % = 0.23%
### Col: brooklyn_condominiums_comparable_properties_expense_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
### Col: comparable_rental_2_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_boro_block_lot | dtype: string ###
### Col: comparable_rental_1_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 3
		counts % = 0.70%
### Col: comparable_rental_1_estimated_expense | dtype: int ###
	Kmeans:
		counts: 19
		counts % = 4.43%
### Col: comparable_rental_1_net_operating_income | dtype: int ###
	Kmeans:
		counts: 4
		counts % = 0.93%
### Col: comparable_rental_2_neighborhood | dtype: string ###
### Col: comparable_rental_2_estimated_expense | dtype: int ###
	Kmeans:
		counts: 8
		counts % = 1.86%
### Col: brooklyn_condominiums_comparable_properties_gross_sqft | dtype: int ###
	Kmeans:
		counts: 3
		counts % = 0.70%
### Col: brooklyn_condominiums_comparable_properties_market_value_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
### Col: brooklyn_condominiums_comparable_properties_gross_income_per_sqft | dtype: double ###
	Kmeans:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_2_estimated_gross_income | dtype: int ###
	Kmeans:
		counts: 6
		counts % = 1.40%
### Col: comparable_rental_2_year_built | dtype: int ###
	Kmeans:
		counts: 5
		counts % = 1.17%
### Col: brooklyn_condominiums_comparable_properties_building_classification | dtype: string ###
### Col: brooklyn_condominiums_comparable_properties_full_market_value | dtype: int ###
	Kmeans:
		counts: 6
		counts % = 1.40%
### Col: comparable_rental_2_distance_from_condo_in_miles | dtype: double ###
	Kmeans:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_estimated_gross_income | dtype: int ###
	Kmeans:
		counts: 4
		counts % = 0.93%
### Col: brooklyn_condominiums_comparable_properties_neighborhood | dtype: string ###
### Col: brooklyn_condominiums_comparable_properties_net_operating_income | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_1_year_built | dtype: int ###
	Kmeans:
		counts: 0
		counts % = 0.00%
### Col: comparable_rental_3_distance_from_condo_in_miles | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
### Col: comparable_rental_3_boro_block_lot | dtype: string ###
### Col: comparable_rental_1_neighborhood | dtype: string ###
### Col: comparable_rental_3_address | dtype: string ###
### Col: comparable_rental_1_expense_per_sqft | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
### Col: comparable_rental_3_market_value_per_sqft | dtype: double ###
	Kmeans:
		counts: 1
		counts % = 0.23%
### Col: comparable_rental_3_estimated_expense | dtype: double ###
	Kmeans:
		counts: 2
		counts % = 0.47%
### Col: brooklyn_condominiums_comparable_properties_estimated_gross_income | dtype: int ###
	Kmeans:
		counts: 1
		counts % = 0.23%
### Col: comparable_rental_1_full_market_value | dtype: int ###
	Kmeans:
		counts: 10
		counts % = 2.33%
### Col: comparable_rental_3_net_operating_income | dtype: double ###
	Kmeans:
		counts: 11
		counts % = 2.56%
### Col: comparable_rental_3_gross_sqft | dtype: double ###

AnalysisException: "Union can only be performed on tables with the same number of columns, but the first table has 3 columns and the 2th table has 4 columns;;\n'Union\n:- AnalysisBarrier\n:     +- Project [rid#4311L, dist_c#4314, dist_c#4314]\n:        +- Filter ((dist_c#4314 < -38763.11363636366) || (dist_c#4314 > 54099.11363636366))\n:           +- Filter (c_no#4313L = cast(0 as bigint))\n:              +- LogicalRDD [rid#4311L, comparable_rental_3_gross_sqft#4312, c_no#4313L, dist_c#4314], false\n:- AnalysisBarrier\n:     +- Project [rid#4311L, dist_c#4314, dist_c#4314]\n:        +- Filter ((dist_c#4314 < -152226.8181818182) || (dist_c#4314 > 197226.8181818182))\n:           +- Filter (c_no#4313L = cast(1 as bigint))\n:              +- LogicalRDD [rid#4311L, comparable_rental_3_gross_sqft#4312, c_no#4313L, dist_c#4314], false\n+- AnalysisBarrier\n      +- Filter (c_no#4313L = cast(2 as bigint))\n         +- LogicalRDD [rid#4311L, comparable_rental_3_gross_sqft#4312, c_no#4313L, dist_c#4314], false\n"

In [ ]:
spark.stop()